In [1]:
import numpy as np
import pandas as pd

In [39]:
file_path="F:\A-P2P-Lending-Market-ML-Pipeline-Using-Supervised-Machine-Learning-Algorithms\prosperLoanData.csv"

In [40]:
df=pd.read_csv(file_path)

In [41]:
df.head()

,ListingKey,ListingNumber,ListingCreationDate,CreditGrade,Term,LoanStatus,ClosedDate,BorrowerAPR,BorrowerRate,LenderYield,...,LP_ServiceFees,LP_CollectionFees,LP_GrossPrincipalLoss,LP_NetPrincipalLoss,LP_NonPrincipalRecoverypayments,PercentFunded,Recommendations,InvestmentFromFriendsCount,InvestmentFromFriendsAmount,Investors
0,1021339766868145413AB3B,193129,2007-08-26 19:09:29.263000000,C,36,Completed,2009-08-14 00:00:00,0.16516,0.1580,0.1380,...,-133.18,0.0,0.0,0.0,0.0,1.0,0,0,0.0,258
1,10273602499503308B223C1,1209647,2014-02-27 08:28:07.900000000,NaN,36,Current,NaN,0.12016,0.0920,0.0820,...,0.00,0.0,0.0,0.0,0.0,1.0,0,0,0.0,1
2,0EE9337825851032864889A,81716,2007-01-05 15:00:47.090000000,HR,36,Completed,2009-12-17 00:00:00,0.28269,0.2750,0.2400,...,-24.20,0.0,0.0,0.0,0.0,1.0,0,0,0.0,41
3,0EF5356002482715299901A,658116,2012-10-22 11:02:35.010000000,NaN,36,Current,NaN,0.12528,0.0974,0.0874,...,-108.01,0.0,0.0,0.0,0.0,1.0,0,0,0.0,158
4,0F023589499656230C5E3E2,909464,2013-09-14 18:38:39.097000000,NaN,36,Current,NaN,0.24614,0.2085,0.1985,...,-60.27,0.0,0.0,0.0,0.0,1.0,0,0,0.0,20

In [42]:
df.columns

Index(['ListingKey', 'ListingNumber', 'ListingCreationDate', 'CreditGrade',
       'Term', 'LoanStatus', 'ClosedDate', 'BorrowerAPR', 'BorrowerRate',
       'LenderYield', 'EstimatedEffectiveYield', 'EstimatedLoss',
       'EstimatedReturn', 'ProsperRating (numeric)', 'ProsperRating (Alpha)',
       'ProsperScore', 'ListingCategory (numeric)', 'BorrowerState',
       'Occupation', 'EmploymentStatus', 'EmploymentStatusDuration',
       'IsBorrowerHomeowner', 'CurrentlyInGroup', 'GroupKey',
       'DateCreditPulled', 'CreditScoreRangeLower', 'CreditScoreRangeUpper',
       'FirstRecordedCreditLine', 'CurrentCreditLines', 'OpenCreditLines',
       'TotalCreditLinespast7years', 'OpenRevolvingAccounts',
       'OpenRevolvingMonthlyPayment', 'InquiriesLast6Months', 'TotalInquiries',
       'CurrentDelinquencies', 'AmountDelinquent', 'DelinquenciesLast7Years',
       'PublicRecordsLast10Years', 'PublicRecordsLast12Months',
       'RevolvingCreditBalance', 'BankcardUtilization',
       'AvailableBankcardCredit', 'TotalTrades',
       'TradesNeverDelinquent (percentage)', 'TradesOpenedLast6Months',
       'DebtToIncomeRatio', 'IncomeRange', 'IncomeVerifiable',
       'StatedMonthlyIncome', 'LoanKey', 'TotalProsperLoans',
       'TotalProsperPaymentsBilled', 'OnTimeProsperPayments',
       'ProsperPaymentsLessThanOneMonthLate',
       'ProsperPaymentsOneMonthPlusLate', 'ProsperPrincipalBorrowed',
       'ProsperPrincipalOutstanding', 'ScorexChangeAtTimeOfListing',
       'LoanCurrentDaysDelinquent', 'LoanFirstDefaultedCycleNumber',
       'LoanMonthsSinceOrigination', 'LoanNumber', 'LoanOriginalAmount',
       'LoanOriginationDate', 'LoanOriginationQuarter', 'MemberKey',
       'MonthlyLoanPayment', 'LP_CustomerPayments',
       'LP_CustomerPrincipalPayments', 'LP_InterestandFees', 'LP_ServiceFees',
       'LP_CollectionFees', 'LP_GrossPrincipalLoss', 'LP_NetPrincipalLoss',
       'LP_NonPrincipalRecoverypayments', 'PercentFunded', 'Recommendations',
       'InvestmentFromFriendsCount', 'InvestmentFromFriendsAmount',
       'Investors'],
      dtype='object')

In [43]:
data=df[['DebtToIncomeRatio','CreditGrade','IsBorrowerHomeowner','InvestmentFromFriendsCount','GroupKey','BorrowerRate','BorrowerState']]

In [44]:
data.head()

,DebtToIncomeRatio,CreditGrade,IsBorrowerHomeowner,InvestmentFromFriendsCount,GroupKey,BorrowerRate,BorrowerState
0,0.17,C,True,0,NaN,0.1580,CO
1,0.18,NaN,False,0,NaN,0.0920,CO
2,0.06,HR,False,0,783C3371218786870A73D20,0.2750,GA
3,0.15,NaN,True,0,NaN,0.0974,GA
4,0.26,NaN,True,0,NaN,0.2085,MN

In [45]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113937 entries, 0 to 113936
Data columns (total 7 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   DebtToIncomeRatio           105383 non-null  float64
 1   CreditGrade                 28953 non-null   object
 2   IsBorrowerHomeowner         113937 non-null  bool
 3   InvestmentFromFriendsCount  113937 non-null  int64
 4   GroupKey                    13341 non-null   object
 5   BorrowerRate                113937 non-null  float64
 6   BorrowerState               108422 non-null  object
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 5.3+ MB

In [46]:
data.isnull().sum()

DebtToIncomeRatio               8554
CreditGrade                    84984
IsBorrowerHomeowner                0
InvestmentFromFriendsCount         0
GroupKey                      100596
BorrowerRate                       0
BorrowerState                   5515
dtype: int64

In [47]:
data['CreditGrade'].value_counts()

CreditGrade
C     5649
D     5153
B     4389
AA    3509
HR    3508
A     3315
E     3289
NC     141
Name: count, dtype: int64

In [48]:
data['GroupKey'].value_counts()

GroupKey
783C3371218786870A73D20    1140
3D4D3366260257624AB272D     916
6A3B336601725506917317E     698
FEF83377364176536637E50     611
C9643379247860156A00EC0     342
                           ...
3AC33365576889313A6722F       1
199A33716841673327BF690       1
398233659571461105A2C60       1
49753420463763105C8092D       1
D1413413671123312FAD936       1
Name: count, Length: 706, dtype: int64

In [49]:
data=data.dropna()

In [50]:
data.drop_duplicates(inplace=True)

In [51]:
data['BorrowerState'].value_counts()

BorrowerState
CA    1341
TX     688
GA     538
IL     534
FL     340
MI     332
MO     298
WA     283
NY     262
OR     224
OH     204
AZ     196
NC     184
AL     183
CO     166
MD     160
MA     131
IN     129
MN     126
VA     118
UT     105
WI      99
NJ      98
KS      81
OK      72
IA      58
NM      51
ID      47
NH      42
LA      41
NE      38
WV      36
MT      35
PA      34
TN      31
CT      28
SC      25
HI      23
ME      22
ND      21
AR      17
KY      17
MS      16
VT       8
NV       8
WY       8
AK       5
DC       5
DE       3
RI       1
Name: count, dtype: int64

In [52]:
from sklearn.preprocessing import LabelEncoder

In [53]:
label_encoder = LabelEncoder()

In [54]:
data['CreditGrade'] = label_encoder.fit_transform(data['CreditGrade'])

In [55]:
data

,DebtToIncomeRatio,CreditGrade,IsBorrowerHomeowner,InvestmentFromFriendsCount,GroupKey,BorrowerRate,BorrowerState
2,0.06,6,False,0,783C3371218786870A73D20,0.2750,GA
21,0.09,4,False,0,6C2E3384236387493493CB6,0.2075,MI
46,0.27,3,False,1,AD9A3400384972497EDAD38,0.1500,IL
62,0.59,4,False,0,B5F93364617561572C32B6D,0.2300,CA
66,0.20,4,False,0,EE3833815612811323B64D2,0.1500,NE
...,...,...,...,...,...,...,...
113839,0.04,0,True,0,96F633649880062271C600D,0.0800,OR
113853,0.07,4,False,0,6A3B336601725506917317E,0.3397,CA
113880,0.33,3,False,0,4A203372943765528FF3F4A,0.1475,GA
113915,0.26,4,True,0,41F83374830943275CE6888,0.2000,MA
113927,0.06,1,True,0,D1413413671123312FAD936,0.0679,WA

In [57]:
data['BorrowerState'].unique()

array(['GA', 'MI', 'IL', 'CA', 'NE', 'MO', 'FL', 'AZ', 'TX', 'NY', 'SC',
       'MA', 'WA', 'ID', 'NC', 'VA', 'IN', 'CT', 'KS', 'AL', 'UT', 'OR',
       'MN', 'WI', 'NH', 'AR', 'OK', 'PA', 'LA', 'MD', 'OH', 'NJ', 'KY',
       'IA', 'TN', 'CO', 'WY', 'MT', 'MS', 'NM', 'HI', 'VT', 'NV', 'WV',
       'ND', 'ME', 'AK', 'RI', 'DE', 'DC'], dtype=object)

In [58]:
data['BorrowerState'] = label_encoder.fit_transform(data['BorrowerState'])

In [60]:
data['BorrowerState'].unique()

array([10, 22, 14,  4, 29, 24,  9,  3, 42, 34, 40, 19, 46, 13, 27, 44, 15,
        6, 16,  1, 43, 37, 23, 47, 30,  2, 36, 38, 18, 20, 35, 31, 17, 12,
       41,  5, 49, 26, 25, 32, 11, 45, 33, 48, 28, 21,  0, 39,  8,  7])